<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abc.htetaunglwin.padc_meal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="abc.htetaunglwin.padc_meal.MealApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="abc.htetaunglwin.padc_meal.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name="abc.htetaunglwin.padc_meal.activities.MealDetailAcitivity"
        android:parentActivityName="abc.htetaunglwin.padc_meal.activities.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="abc.htetaunglwin.padc_meal.activities.MainActivity" />
    </activity>
    </application>

</manifest>